.selectedPage {
    color: red;
    font-weight: bold;
    border: solid black 1px;
}
.listPages {
    color: black;
}
.pageLink{
    border: solid #2b2949 1px;
    margin: 0px 2px;
    cursor: pointer;
}